.groups {
    display: flex;
    flex-flow: column;
    width: 90%;
    padding: 0 5%;
}
.groups-header {
    display: flex;
    flex-flow: row;
    padding: 3%;
}
.groups-body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.groups-body-group {
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
.groups-body-students {
    display: flex;
    flex-flow: column;
    width: 45%;
    padding: 2%;
    border: #4e5164 1px;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
.plus-button{
    height: fit-content;
    background: #4aa1ff;
    font: inherit;
    border: 1px solid #4aa1ff;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}
.plus-button::before {
    content: '+';
}
.groups-form-control {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 3px 0;
}