body {
    margin: 0;
    font-family: Bahnschrift;
}

.form-control label,
.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.check {
    width: 20px !important;
}

.form-actions button,
.btn {
    background: #4aa1ff;
    font: inherit;
    border: 1px solid #4aa1ff;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

.red {
    background: #ff5050;
    border-color: #ff5050;
}

.red:hover,
.red:active {
    background: #ff3201 !important;
    border-color: #ff3201 !important;
}

.green {
    background: green;
    border-color: green;
}

.green:hover,
.green:active {
    background: darkgreen !important;
    border-color: darkgreen !important;
}

.selected {
    background: #356fff;
    border-color: #356fff;
}

.selected:hover,
.selected:active {
    background: #4aa1ff !important;
    border-color: #4aa1ff !important;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background: #356fff;
    border-color: #356fff;
}

.errors {
    background-color: #f2dede;
    border: solid #a92424 1px;
    border-radius: 9px;
    color: #a92424;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.success {
    background-color: #dff0d8;
    border: solid #d6e9c6 1px;
    border-radius: 9px;
    color: #3c763d;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.center {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

hr {
    color: silver;
    background-color: silver;
    height: 1px;
}

h1 {
    padding-top: 30px;
    text-align: center;
}