body {
    margin: 0;
    font-family: sans-serif;
}

.form-control label,
.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button,
.btn {
    background: #4aa1ff;
    font: inherit;
    border: 1px solid #4aa1ff;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background: #356fff;
    border-color: #356fff;
}

.errors {
    background-color: #f2dede;
    border: solid #a92424 1px;
    border-radius: 9px;
    color: #a92424;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
.success {
    background-color: #dff0d8;
    border: solid #d6e9c6 1px;
    border-radius: 9px;
    color: #3c763d;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}